nav {
  background-color: white;
  height: 100%;
  width: 60px !important;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  font-size: 18px;
  border-left: 2px solid white;
}

nav a:hover {
  border-left: 2px solid rgb(231, 231, 231);
}

nav a.active {
  border-left: 2px solid rgb(30, 143, 110);
}

a i {
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  background-size: contain;
}

#today i {
  background-image: url('/static/icons/today.svg');
  opacity: 0.9;
}

#entries i {
  background-image: url('/static/icons/entries.svg');
}

#stats i {
  background-image: url('/static/icons/statistics.svg');
  opacity: 0.8;
}
